<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AppWechatBindingsMapper">
    
    <resultMap type="AppWechatBindings" id="AppWechatBindingsResult">
        <result property="id"    column="id"    />
        <result property="openId"    column="open_id"    />
        <result property="unionId"    column="union_id"    />
        <result property="userType"    column="user_type"    />
        <result property="userId"    column="user_id"    />
        <result property="phone"    column="phone"    />
        <result property="nickname"    column="nickname"    />
        <result property="avatar"    column="avatar"    />
        <result property="sessionKey"    column="session_key"    />
        <result property="bindTime"    column="bind_time"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectAppWechatBindingsVo">
        select id, open_id, union_id, user_type, user_id, phone, nickname, avatar, session_key, bind_time, last_login_time, create_time from app_wechat_bindings
    </sql>

    <select id="selectAppWechatBindingsList" parameterType="AppWechatBindings" resultMap="AppWechatBindingsResult">
        <include refid="selectAppWechatBindingsVo"/>
        <where>  
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="unionId != null  and unionId != ''"> and union_id = #{unionId}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="sessionKey != null  and sessionKey != ''"> and session_key = #{sessionKey}</if>
            <if test="bindTime != null "> and bind_time = #{bindTime}</if>
            <if test="lastLoginTime != null "> and last_login_time = #{lastLoginTime}</if>
        </where>
    </select>
    
    <select id="selectAppWechatBindingsById" parameterType="String" resultMap="AppWechatBindingsResult">
        <include refid="selectAppWechatBindingsVo"/>
        where id = #{id}
    </select>

    <insert id="insertAppWechatBindings" parameterType="AppWechatBindings">
        insert into app_wechat_bindings
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="openId != null and openId != ''">open_id,</if>
            <if test="unionId != null">union_id,</if>
            <if test="userType != null and userType != ''">user_type,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="phone != null">phone,</if>
            <if test="nickname != null">nickname,</if>
            <if test="avatar != null">avatar,</if>
            <if test="sessionKey != null">session_key,</if>
            <if test="bindTime != null">bind_time,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="openId != null and openId != ''">#{openId},</if>
            <if test="unionId != null">#{unionId},</if>
            <if test="userType != null and userType != ''">#{userType},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="sessionKey != null">#{sessionKey},</if>
            <if test="bindTime != null">#{bindTime},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateAppWechatBindings" parameterType="AppWechatBindings">
        update app_wechat_bindings
        <trim prefix="SET" suffixOverrides=",">
            <if test="openId != null and openId != ''">open_id = #{openId},</if>
            <if test="unionId != null">union_id = #{unionId},</if>
            <if test="userType != null and userType != ''">user_type = #{userType},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="sessionKey != null">session_key = #{sessionKey},</if>
            <if test="bindTime != null">bind_time = #{bindTime},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppWechatBindingsById" parameterType="String">
        delete from app_wechat_bindings where id = #{id}
    </delete>

    <delete id="deleteAppWechatBindingsByIds" parameterType="String">
        delete from app_wechat_bindings where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>