<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.FileUploadsMapper">
    
    <resultMap type="FileUploads" id="FileUploadsResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="originalName"    column="original_name"    />
        <result property="mimeType"    column="mime_type"    />
        <result property="size"    column="size"    />
        <result property="path"    column="path"    />
        <result property="url"    column="url"    />
        <result property="type"    column="type"    />
        <result property="category"    column="category"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="deletedAt"    column="deleted_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>

    <sql id="selectFileUploadsVo">
        select id, file_name, original_name, mime_type, size, path, url, type, category, created_at, updated_at, deleted_at, created_by, updated_by from file_uploads
    </sql>

    <select id="selectFileUploadsList" parameterType="FileUploads" resultMap="FileUploadsResult">
        <include refid="selectFileUploadsVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="originalName != null  and originalName != ''"> and original_name like concat('%', #{originalName}, '%')</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
        </where>
    </select>
    
    <select id="selectFileUploadsById" parameterType="String" resultMap="FileUploadsResult">
        <include refid="selectFileUploadsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFileUploads" parameterType="FileUploads">
        insert into file_uploads
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="originalName != null">original_name,</if>
            <if test="mimeType != null">mime_type,</if>
            <if test="size != null">size,</if>
            <if test="path != null">path,</if>
            <if test="url != null">url,</if>
            <if test="type != null">type,</if>
            <if test="category != null">category,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="deletedAt != null">deleted_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="originalName != null">#{originalName},</if>
            <if test="mimeType != null">#{mimeType},</if>
            <if test="size != null">#{size},</if>
            <if test="path != null">#{path},</if>
            <if test="url != null">#{url},</if>
            <if test="type != null">#{type},</if>
            <if test="category != null">#{category},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="deletedAt != null">#{deletedAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
         </trim>
    </insert>

    <update id="updateFileUploads" parameterType="FileUploads">
        update file_uploads
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="originalName != null">original_name = #{originalName},</if>
            <if test="mimeType != null">mime_type = #{mimeType},</if>
            <if test="size != null">size = #{size},</if>
            <if test="path != null">path = #{path},</if>
            <if test="url != null">url = #{url},</if>
            <if test="type != null">type = #{type},</if>
            <if test="category != null">category = #{category},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="deletedAt != null">deleted_at = #{deletedAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFileUploadsById" parameterType="String">
        delete from file_uploads where id = #{id}
    </delete>

    <delete id="deleteFileUploadsByIds" parameterType="String">
        delete from file_uploads where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="softDeleteFileUploadsById" parameterType="String">
        update file_uploads set deleted_at = #{deletedAt} where id = #{id}
    </update>
</mapper>