<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.ProjectBudgetsMapper">
    
    <resultMap type="ProjectBudgets" id="ProjectBudgetsResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="category"    column="category"    />
        <result property="plannedAmount"    column="planned_amount"    />
        <result property="remarks"    column="remarks"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>

    <sql id="selectProjectBudgetsVo">
        select id, project_id, category, planned_amount, remarks, created_at, updated_at, created_by, updated_by from project_budgets
    </sql>

    <select id="selectProjectBudgetsList" parameterType="ProjectBudgets" resultMap="ProjectBudgetsResult">
        <include refid="selectProjectBudgetsVo"/>
        <where>  
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="plannedAmount != null "> and planned_amount = #{plannedAmount}</if>
        </where>
    </select>
    
    <select id="selectProjectBudgetsById" parameterType="String" resultMap="ProjectBudgetsResult">
        <include refid="selectProjectBudgetsVo"/>
        where id = #{id}
    </select>

    <insert id="insertProjectBudgets" parameterType="ProjectBudgets">
        insert into project_budgets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="plannedAmount != null">planned_amount,</if>
            <if test="remarks != null">remarks,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="plannedAmount != null">#{plannedAmount},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
         </trim>
    </insert>

    <update id="updateProjectBudgets" parameterType="ProjectBudgets">
        update project_budgets
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="plannedAmount != null">planned_amount = #{plannedAmount},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectBudgetsById" parameterType="String">
        delete from project_budgets where id = #{id}
    </delete>

    <delete id="deleteProjectBudgetsByIds" parameterType="String">
        delete from project_budgets where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>